<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = stylesheet type= "text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <link rel = stylesheet type= "text/css" href="{{ url_for('static',filename='styles/nav.css') }}">
    <link rel = stylesheet type= "text/css" href="{{ url_for('static',filename='styles/footer.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
<!--    <script src="{{ url_for('static',filename='userList.js') }}" type="module"></script>-->
    <title>Pharmacy</title>
</head>
<body>
    <nav>
        <a id="title" href="/index.html">Pharmacy</a>
        <div class="nav_links">
            <a href="products.html" class="text_link">Products</a>
            <a href="about.html"  class="text_link">About us</a>
            <a href="login.html" class="text_link" id="login">Log In</a>
        </div>
    </nav>
    <div class="about">

    </div>
    <footer>
        <h6>Contact us:</h6>
        +380000000000<br>
        pharmacy@gmail.com<br>
        Lviv, Ukraine
    </footer>
</body>
</html>