<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = stylesheet href="/styles/main.css">
    <link rel = stylesheet href="/styles/nav.css">
    <link rel = stylesheet href="/styles/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap" rel="stylesheet">
    <title>Pharmacy</title>
</head>
<body>
    <nav>
        <a id="title" href="/index.html">Pharmacy</a>
        <div class="nav_links">
            <a href="products.html" class="text_link">Products</a>
            <a href="about.html" class="text_link">About us</a>
            <a href="login.html" class="text_link" id="login">Log In</a>
        </div>
    </nav>
    <div class="container">
        <h4>Aspirin</h4>
        <div class="single_information">
            <img class="product_image" src="/images/aspirin.svg" alt="aspirin">
            <div>
                <p>
                    Name: Aspirin <br>
                    Manufacturer: manufacturer1 <br>
                    Price: 1$
                </p><br>
                <div class="btn_list">
                    <a href="login.html" class="button">Login to order</a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <h6>Contact us:</h6>
        +380000000000<br>
        pharmacy@gmail.com<br>
        Lviv, Ukraine
    </footer>
</body>
</html>