<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = stylesheet href="/styles/main.css">
    <link rel = stylesheet href="/styles/nav.css">
    <link rel = stylesheet href="/styles/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap" rel="stylesheet">
    <title>Pharmacy</title>
</head>
<body>
    <nav>
        <a id="title" href="/pharmacy">Pharmacy</a>
        <div class="nav_links">
            <a href="/pharmacy/products" class="text_link">Products</a>
            <a href="/pharmacy/about" class="text_link">About us</a>
            <a href="/pharmacy/findUser" class="icon_link">
                <img src="{{ url_for('static',filename='images/Icon.svg') }}" class="icon" alt="find user">
            </a>
            <a href="/pharmacy/findOrder" class="icon_link">
                <img src="{{ url_for('static',filename='/images/Cart.svg') }}" class="icon" alt="find order">
            </a>
            <a href="/pharmacy/addMedicine" class="icon_link">
                <img src="{{ url_for('static',filename='/images/Tag.svg') }}" class="icon" alt="add med">
            </a>
            <a href="/pharmacy/profile" class="icon_link">
                <img src="{{ url_for('static',filename='/images/userProfile.svg') }}" class="icon" alt="user profile">
            </a>
        </div>
    </nav>
    <div class="container">
        <h4>Add medicine</h4>
        <div class="information">
            <ul class="inf_list">
                <li class="property">Name:</li>
                <li class="property">Manufacturer:</li>
                <li class="property">Count:</li>
                <li class="property">Image:</li>
            </ul>
            <div class="inf_list">
                <input type="text" required>
                <input type="text" required>
                <input type="text" required>
                <input type="file" accept=".png, .jpg, .jpeg" required id="inputfile">
                <label for="inputfile" id="medLabel">Import image</label>
            </div>
        </div>
        <div class="container">
            <div class="btn_list">
                <a href="profile.html" class="button">Add</a>
            </div>
        </div>
    </div>
    <footer>
        <h6>Contact us:</h6>
        +380000000000<br>
        pharmacy@gmail.com<br>
        Lviv, Ukraine
    </footer>
</body>