<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = stylesheet type= "text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <link rel = stylesheet type= "text/css" href="{{ url_for('static',filename='styles/nav.css') }}">
    <link rel = stylesheet type= "text/css" href="{{ url_for('static',filename='styles/footer.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
    <script src="{{ url_for('static',filename='validation.mjs') }}" type= "module" ></script>
    <script src="{{ url_for('static',filename='editProfile.js') }}" type="module"></script>
    <title>Pharmacy</title>
</head>
<body>
    <nav>
        <a id="title" href="/pharmacy">Pharmacy</a>
        <div class="nav_links">
            <a href="/pharmacy/products" class="text_link">Products</a>
            <a href="/pharmacy/about" class="text_link">About us</a>
            <a href="/pharmacy/findUser" class="icon_link">
                <img src="{{ url_for('static',filename='images/Icon.svg') }}" class="icon" alt="find user">
            </a>
            <a href="/pharmacy/findOrder" class="icon_link">
                <img src="{{ url_for('static',filename='/images/Cart.svg') }}" class="icon" alt="find order">
            </a>
            <a href="/pharmacy/addMedicine" class="icon_link">
                <img src="{{ url_for('static',filename='/images/Tag.svg') }}" class="icon" alt="add med">
            </a>
            <a href="/pharmacy/profile" class="icon_link">
                <img src="{{ url_for('static',filename='/images/userProfile.svg') }}" class="icon" alt="user profile">
            </a>
        </div>
    </nav>
    <div class="container">
        <h4>Edit profile</h4>
        <div class="information">
            <ul class="inf_list">
                <li class="property">Username: </li>
                <li class="property">Fisrt name:</li>
                <li class="property">Last name:</li>
                <li class="property">Email:</li>
                <li class="property">Phone:</li>
                <li class="property">Date of birth:</li>
            </ul>
            <div class="inf_list">
                <input type="text" class="value_reg" id="username_input" name="username" minlength="3" maxlength="25">
                <input type="text" class="value_reg" id="first_name_input" name="first name" minlength="3" maxlength="25">
                <input type="text" class="value_reg" id="last_name_input" name="last name" minlength="3" maxlength="25">
                <input type="email" class="value_reg" id="email_input" name="email" minlength="5" maxlength="25">
                <input type="number" class="value_reg" id="phone_input" name="phone" minlength="5" maxlength="25">
                <input type="text" class="value_reg" id="date_of_birth_input" name="date of birth" onfocus="(this.type='date')"
        onblur="(this.type='text')" placeholder="DD-MM-YYYY" min="01-01-1920">
            </div>
        </div>
        <div class="container">
            <div class="btn_list">
                <button class="button" id="save_button">Save</button>
                <a href="/pharmacy/profile" class="button">Cancel</a>
            </div>
            <div id="error"></div>
        </div>
    </div>
    <footer>
        <h6>Contact us:</h6>
        +380000000000<br>
        pharmacy@gmail.com<br>
        Lviv, Ukraine
    </footer>
</body>