<app-nav></app-nav>
<div class="base_page">
    <h3 class="base_title">Change password</h3>
    <div class="base_container">
      <app-input-field name_field="Old password: " type_field="password"></app-input-field>
      <app-input-field name_field="New password: " type_field="password"></app-input-field>
      <app-input-field name_field="Confirm password: " type_field="password"></app-input-field>
    </div>
    <div class="button_list">
        <button class="base_button" (click)="change()">Submit</button>
        <button class="base_button" (click)="cancel()">Cancel</button>
    </div>
    <ng-container [ngIf]="hasError" *ngComponentOutlet="errorComponent; injector: errorInjector"></ng-container>
</div>
<app-footer></app-footer>
