<app-nav></app-nav>
<div class="base_page">
  <h3 class="base_title">Medicine in order #{{id}}</h3>
  <div [ngClass]="'products'">
    <ng-container *ngFor='let medicine of medicineInjector'>
      <ng-container *ngComponentOutlet="medicineComponent; injector: medicine"></ng-container>
    </ng-container>
  </div><div class="button_list">
    <button class="base_button" *ngIf="hasPrev" (click)="previousPage()">Previous page</button>
    <button class="base_button" *ngIf="hasNext" (click)="nextPage()">Next page</button>
  </div>
</div>
<app-footer></app-footer>
