<nav>
    <a id="title" href="/main_page">Pharmacy</a>
    <div id="nav_links">
        <a class="text_link" href="/products/1">Products</a>
        <a class="text_link" href="#">About us</a>
        <a class="icon_link" href="/user_orders/1">
            <img class="icon" src="/static/images/shoppingCart.svg">
        </a>
        <a class="icon_link" href="/wish_list/1">
            <img class="icon" src="/static/images/wishList.svg">
        </a>
        <a class="icon_link" href="/profile">
            <img class="icon" src="/static/images/userProfile.svg">
        </a>
    </div>
</nav>
