<app-nav></app-nav>
<div class="base_page">
  <h3 class="base_title">Shopping cart</h3>
  <div class="shopping_cart">
    <ng-container *ngFor="let medicine of medicineInjectors">
      <ng-container *ngComponentOutlet="medicineComponent;
      injector: medicine"></ng-container>
    </ng-container>
  </div>
  <label for="delete_after"></label>
  <input type="checkbox" [(ngModel)]="deleteAfter" name="deleteAfter">
  <div class="button_list">
    <button class="base_button" (click)="makeOrder()">Order</button>
  </div>
  <ng-container *ngIf="hasError">
    <ng-container *ngComponentOutlet="errorComponent; injector: errorInjector"></ng-container>
  </ng-container>
</div>
<app-footer></app-footer>
