@import '/src/styles.scss';

.status{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  label{
    @include mainText(20px);
    color: $mainColor;
    display: flex;
    margin: 0px;
    padding: 10px;
    padding-left: 0px;
    width: auto;
    align-items: center;
  }
  select{
    @include border(1px, 10px);
    border: solid white;
    width: auto;
    margin: auto;
    text-align: center;
    background-color: #92a371;
    border-color: #92a371;
    padding: 5px 10px 5px 10px;
    display: flex;
    margin-right: 30px;
    overflow-y: scroll;
    option{
      @include mainText(15px);
      @include border(1px, 14px);
      border-color: #92a371;
    }
  }
}

