@import 'src/styles.scss';

.error{
    width: 800px;
    margin: auto;
    @include border(5px, 50px);
    @include mainText(20px);
    border: none;
    margin-bottom: 50px;
    padding: 40px;
    opacity: 0.8;
    background-color: darkred;
    text-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.success{
  @extend .error;
  background-color: $mainColor;
}
