@import "main.css";

:hover{
    transition-delay: 0.2s;
    transition: all 0.5s ease-in-out;
}

#title{
    font-family: 'Indie Flower', cursive;
    font-size: 60px;
    font-weight: 700;
    color: #FFFFFF;
    -webkit-transition: 1s ease;
}
#title:hover{
    letter-spacing: 3px;
}
nav{
    position: relative; 
    background: $mainColor;
    padding-left: 1%;
    height: 96px;
    display: flex;
    text-align: justify;
    justify-content: space-between;
    .nav_links{
        @extend ul;
        width: 900px;
        height: 96px;
        align-items: center;
        text-align: justify;
        justify-content: space-around;
        transition: 1s ease;
    }
    .text_link{
        @include text_link(25px);
        margin: auto;
        margin-left: 0;
        margin-right: 0;
        -webkit-transition: 1s ease;
    }
    a{
        display: block;
        text-align: center;
    }
    #login{
        margin-left: 200px;
    }
    .icon{
        width: 35px;
        height: auto;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .icon_link{
        height: auto;
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
    }
    .text_link:hover{
        font-size: 32px;
        color: $lightColor;
    }
    .icon_link:hover{
        .icon{
            width: 45px;
        }
    }
}
