@mixin background($image, $position, $size) {
    background-image: $image;
    background-position: $position;
    background-repeat: no-repeat;
    background-size: $size;
    margin: 0px;
}

header{ 
    #bg1 {
        @include background(url('/pharmacy/images/background1.svg'), right, 70%);
        height: 500px;
        margin-right: 5%;
    }
    #bg2 {
        @include background(url('/pharmacy/images/background2.svg'), center, 110%);
        position: relative;
        height: 600px; 
        margin-top: -150px;
        background-position: top;
    }
}

