@import "main.scss";

footer{
    @include mainText(15px);
    background-color: $mainColor;
    padding-left: 100px;
    padding-bottom: 10px;
    position: relative;
    bottom: 0px;
    h6{
        @include mainText(20px);
        margin: 0px;
        padding: 0px;
        margin-bottom: 10px;
        padding-top: 10px;
    }
}
.about{
    height: 600px;
}