@import "main.scss";

header {
    div {
        h3{
            @include gradientText(60px);
            padding-top: 30px;
            padding-left: 5%;
        }
        h6{
            @include gradientText(50px);
            padding-top: 10px;
            padding-left: 10%;
            margin-bottom: 100px;
        }
        input{
            @include input(20px);
        }
        div {
            position: absolute;
            width: 744px;
            height: 69px;
            display: block;
            margin-left: 30px;
            padding: 0px;
            input {
                position: absolute;
                width: 744px;
                height: 69px;
                padding-left: 150px;
            }
            .text_link{
                @include text_link(20px);
            }
        }
    }
    div{
        ul{
            padding-top: 300px;
            padding-left: 2%;
            padding-right: 2%;
            li{
                @include border(3px, 30px);
                @include mainText(40px);
                @include center_block();
                display: flex;
                height: 200px;
                width: 400px;
                margin-left: auto;
                margin-right: auto;
            } 
        }
    }
}