@import "main.scss";

div{
    text-align: center;
    @include mainText(50px);
    height: auto;
    padding-bottom: 50px;
    h5{
        text-align: center;
        @include gradientText(50px);
        margin-top: 40px;
        margin-bottom: 40px;
    }
    label{
        @include mainText(20px);
        color: $mainColor;
    }
    input{
        margin-top: 10px;
        padding-left: 10px;
        @include input(15px);
    }
}
#registration_link{
    @include mainText(20px);
    @include center_block();
    color: $mainColor;
    margin-top: 30px;
    text-decoration: underline;
}
#registration_link:hover{
    font-size: 23px;
}
#login_btn_list{
    @include center_block();
    display: flex;
    height: auto;
    flex-direction: column;
}