body, .usual_div {
  margin: 0px;
  padding: 0px;
}

.container, .filter_container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.user_block:hover {
  border: solid white;
  border-width: 5px;
  border-radius: 50px;
  background-color: #92a371;
}

a {
  text-decoration: none;
}

ul, .itemsList, .order, .flex_items, nav .nav_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin: 0px;
  padding: 0px;
}

.button, .button_small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #5D8E03;
  border-radius: 150px;
  font-family: 'Poppins';
  font-size: 25px;
  font-style: normal;
  color: white;
  line-height: 22px;
  letter-spacing: 0.05em;
  border: none;
  color: white;
  padding: 15px 25px 15px 25px;
  margin: 10px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button:hover, .button_small:hover {
  background: #92a371;
  font-size: 30px;
}

#main_button {
  position: absolute;
  margin: 0px;
  font-size: 25px;
  height: 69px;
  padding: 0 10px 0 10px;
}

#main_button:hover {
  background: #92a371;
  font-size: 23px;
  width: 118.1px;
}

.link_block:hover {
  background-color: #92a371;
  width: 420px;
  height: 380px;
  font-size: 30px;
}

.itemsList .link_block:hover, .order .link_block:hover {
  height: 440px;
  width: 420px;
  font-size: 25px;
}

.link_block:hover .product_image {
  width: 350px;
}

.items_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

.product_image {
  border: solid #FFFFFF;
  border-width: 5px;
  width: 300px;
  border-radius: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 10px;
}

.link_block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #CFDDB4;
  border: solid white;
  border-width: 5px;
  border-radius: 50px;
  padding: 40px 20px 40px 20px;
  font-family: 'Poppins';
  font-size: 25px;
  font-style: normal;
  color: white;
  margin: auto;
  width: 400px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text_link:hover {
  font-size: 23px;
}

.container h4, .filter_container h4 {
  text-align: center;
  font-family: 'Poppins';
  font-size: 40px;
  font-style: normal;
  color: white;
  color: #5D8E03;
  background-image: linear-gradient(45deg, #5D8E03, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.075em;
  margin: 0px;
  margin-bottom: 30px;
}

.information, .single_information {
  background-color: #CFDDB4;
  border: solid white;
  border-width: 5px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}

.information .inf_list, .single_information .inf_list {
  padding: 50px;
  height: auto;
  display: inline-block;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  color: white;
}

.information .inf_list .property, .single_information .inf_list .property {
  color: #5D8E03;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.information .inf_list .value, .single_information .inf_list .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.information .inf_list input, .single_information .inf_list input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  color: white;
  background: #FFFFFF;
  opacity: 0.8;
  border-radius: 150px;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
  color: #5D8E03;
  margin-bottom: 10px;
  padding-left: 20px;
}

.btn_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  color: white;
  text-align: center;
  width: auto;
}

.user_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: auto;
  margin: auto;
}

.user_list .information, .user_list .single_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: initial;
      -ms-flex-positive: initial;
          flex-grow: initial;
  width: auto;
  margin: auto;
  margin-bottom: 50px;
}

.user_list .information .inf_list, .user_list .single_information .inf_list {
  margin-left: auto;
  display: block;
  width: auto;
}

.user_list .user_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user_list .property {
  display: inline-block;
  width: auto;
  white-space: nowrap;
}

#hiden, #hiden + label ~ .usual_div {
  display: none;
}

#hiden:checked + label {
  font-family: 'Poppins';
  font-size: 30px;
  font-style: normal;
  color: white;
  color: #5D8E03;
  background-image: linear-gradient(45deg, #5D8E03, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.075em;
  margin: 0px;
}

#hiden:checked ~ .usual_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30px;
}

.filter_container {
  padding-left: 5%;
}

.filter_container {
  display: block;
  text-align: center;
}

.filter_container #fltr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  width: auto;
  margin: auto;
  font-family: 'Poppins';
  font-size: 30px;
  font-style: normal;
  color: white;
  color: #5D8E03;
  padding: auto;
}

.multiple_select {
  display: block;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  margin-left: -5%;
  padding: auto;
  margin: auto;
  height: auto;
}

.fltr_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  width: 400px;
  background-color: #CFDDB4;
  border: solid white;
  border-width: 5px;
  border-radius: 50px;
}

.fltr_container .filter_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  padding: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fltr_container .filter_list li, .fltr_container .filter_list .search_medicine {
  display: inline-block;
  margin: 0px;
  padding: 10px;
  width: auto;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  color: white;
}

select {
  background-color: #92a371;
  border: solid white;
  border-width: 1px;
  border-radius: 10px;
  border-color: #92a371;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

select option {
  font-family: 'Poppins';
  font-size: 15px;
  font-style: normal;
  color: white;
  border: solid white;
  border-width: 1px;
  border-radius: 14px;
  border-color: #92a371;
}

select::-webkit-scrollbar {
  width: 0;
}

select option:checked {
  background-color: #5D8E03;
}

.usual_div input {
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  color: white;
  background: #FFFFFF;
  opacity: 0.8;
  border-radius: 150px;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
  color: #5D8E03;
  padding-left: 10px;
}

#inputfile {
  position: absolute;
  visibility: hidden;
}

#inputfile + label {
  cursor: pointer;
}

#medLabel {
  background: #5D8E03;
  border-radius: 150px;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  color: white;
  line-height: 22px;
  letter-spacing: 0.05em;
  border: none;
  color: white;
  padding: 5px;
}

#inputfile + label * {
  pointer-events: none;
}

p {
  display: block;
  font-family: 'Poppins';
  font-size: 30px;
  font-style: normal;
  color: white;
  text-align: left;
  padding-left: 20px;
}

.single_information {
  padding: 20px;
}

.single_information a {
  text-decoration: none;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  color: white;
  text-align: center;
  width: auto;
}

.button_image {
  width: 20px;
}

.itemsList, .order {
  text-align: center;
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
}

#shopping_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#shopping_cart a {
  margin-bottom: 100px;
}

.order {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.order a {
  margin-left: 100px;
  margin-right: 100px;
}

.number, .s {
  display: none;
}

.checkbox:checked ~ .number {
  display: block;
  background-color: #5D8E03;
  border: none;
  border: solid white;
  border-width: 5px;
  border-radius: 50px;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  color: white;
  text-align: center;
}

.checkbox:checked ~ .s {
  display: block;
  font-family: 'Poppins';
  font-size: 25px;
  font-style: normal;
  color: white;
  color: #5D8E03;
  margin-right: 20px;
}

input[type='checkbox']:after {
  line-height: 1.5em;
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: -4px;
  margin-left: -4px;
  border: 1px solid silver;
  border-radius: 0.25em;
  background: #5D8E03;
}

input[type='checkbox']:checked:after {
  width: 15px;
  height: 15px;
  background-color: #92a371;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea:focus, input:focus {
  outline: none;
}

#order_ul {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: auto;
  padding: auto;
  margin: auto;
}

#order_ul #search {
  text-align: center;
  padding: auto;
  margin: auto;
  height: auto;
  margin-right: 30px;
}

#order_ul .text_link {
  text-decoration: none;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  color: white;
  text-align: center;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: auto;
}

.delete_label {
  color: #5D8E03;
  margin-left: 10px;
}

.recommendedItems {
  margin-bottom: 100px;
}

.recommendedItems h4 {
  font-family: 'Poppins';
  font-size: 50px;
  font-style: normal;
  color: white;
  color: #5D8E03;
  text-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
  margin-left: 100px;
}

.flex_items {
  margin-bottom: 100px;
  margin: 0px 30px 100px 30px;
}

.button_small {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_small:hover {
  font-size: 22px;
}

#button_small_icon {
  padding: 5px 10px 5px 10px;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#button_small_icon .button_image {
  width: 40px;
}

#button_small_icon:hover .button_image {
  width: 45px;
}

#title {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
  font-weight: 700;
  color: #FFFFFF;
}

#title:hover {
  letter-spacing: 3px;
}

nav {
  position: relative;
  background: #5D8E03;
  padding-left: 1%;
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: justify;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav_links {
  width: 900px;
  height: 96px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .text_link {
  text-decoration: none;
  font-family: 'Poppins';
  font-size: 25px;
  font-style: normal;
  color: white;
  text-align: center;
  width: auto;
  margin: auto;
  margin-left: 0px;
  margin-right: 0px;
}

nav a {
  display: block;
  text-align: center;
}

nav #login {
  margin-left: 200px;
}

nav .icon {
  width: 35px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

nav .icon_link {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

nav .text_link:hover {
  font-size: 32px;
  color: #CFDDB4;
}

nav .icon_link:hover .icon {
  width: 45px;
}
/*# sourceMappingURL=nav.css.map */